<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Fusion Travels</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link href="../static/img/favicon.png" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link href="../static/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="../static/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Squadfree
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/squadfree-free-bootstrap-template-creative/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <header id="header" class="fixed-top header-transparent">
    <div class="container d-flex align-items-center justify-content-between position-relative">

      <div class="logo">
        <h1 class="text-light"><a href="/"><span>Fusion Travel</span></a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About Us</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto" href="#destination">Destinations</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li class="dropdown"><a href="#"><span>Pakistan Tour</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li class="dropdown"><a href="/NorthernAreas"><span>Northern Areas</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="/NorthernAreas#ajk">Azad Jammu & Kashmir</a></li>
                  <li><a href="/NorthernAreas#gbs">Gilgit - Baltistan - Skardu</a></li>
                  <li><a href="/NorthernAreas#swat">Swat Valley</a></li>
                  <li><a href="/NorthernAreas#hunza">Hunza</a></li>
                  <li><a href="/NorthernAreas#chitral">Chitral Valley</a></li>
                </ul>
              </li>
              <li><a href="/kpk">Khyber Pakhtunkhwa</a></li>
              <li><a href="/Balochistan">Balochistan</a></li>
              <li><a href="/Punjab">Punjab</a></li>
              <li><a href="/Sindh">Sindh</a></li>
            </ul>
          </li>
          <li class="dropdown megamenu"><a href="#"><span>International Tour</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li>
                <a href="/UAE"><strong>United Arab Emirates</strong></a>
                <a href="/UAE#dubai">Dubai</a>
                <a href="/UAE#abudhabi">Abu Dhabi</a>
                <a href="/UAE#sharjah">Sharjah</a>
              </li>
              <li>
                <a href="/Singapore"><strong>Singapore</strong></a>
                <a href="/Singapore#gardensbythebay">Gardens by the Bay</a>
                <a href="Singapore#sentosa">Sentosa</a>
                <a href="/Singapore#universalstudios">Universal Studios</a>
              </li>
              <li>
                <a href="/Malaysia"><strong>Malaysia</strong></a>
                <a href="/Malaysia#kl">Kaula Lumpur</a>
                <a href="/Malaysia#gt">George Town</a>
                <a href="/Malaysia#gh">Genting Highlands</a>
              </li>
              <li>
                <a href="/Thailand"><strong>Thailand</strong></a>
                <a href="/Thailand#bangkok">Bangkok</a>
                <a href="/Thailand#phuket">Phuket</a>
                <a href="/Thailand#pattaya">Pattaya</a>
              </li>
              <li>
                <a href="/Turkey"><strong>Turkey</strong></a>
                <a href="/Turkey#istanbul">Istanbul</a>
                <a href="/Turkey#ankara">Ankara</a>
                <a href="/Turkey#antalya">Antalya</a>
              </li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="nav-link" href="/login">Log in</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>

  <section id="hero">
    <div class="hero-container" data-aos="fade-up">
      <h1>Welcome to Fusion Travels</h1>
      <h2>Travelling through greatness - with Ease and Comfort</h2>
      <a href="#about" class="btn-get-started scrollto"><i class="bx bx-chevrons-down"></i></a>
    </div>
  </section>

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row no-gutters">
          <div class="content col-xl-5 d-flex align-items-stretch" data-aos="fade-up">
            <div class="content">
              <h3>Make you travel experience better than ever</h3>
              <p>
                Our organization has been working on creating remarkable memories, alongside providing best assistance through our Hardworking Guides, Budget Friendly plans and Secure travelling guidance.   
              </p>
              <a href="#" class="about-btn">About us <i class="bx bx-chevron-right"></i></a>
            </div>
          </div>
          <div class="col-xl-7 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-receipt"></i>
                  <h4>Professional Guides</h4>
                  <p>Directing Tourists and offering relevant information.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="bx bx-cube-alt"></i>
                  <h4>Budget Friendly</h4>
                  <p>Delivering budget-friendly plans that are according to your budget</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="bx bx-images"></i>
                  <h4>Creating Memories</h4>
                  <p>Create moments of elevation through balancing new and familiar experiences.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="bx bx-shield"></i>
                  <h4>Safe and Secure</h4>
                  <p>Confirmation of a traveller's wellbeing when they're away from home.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2>Services</h2>
          <p>We provide a complete array of travel / tourism related services under one roof to fulfill all your travel needs. Read more about the services we offer.</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">Flexible & Budget Friendly Plans</a></h4>
              <p class="description">Providing tour plans that fit your desired expenditure amount and, that are suitable for your dates</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">Customized Tour Planning</a></h4>
              <p class="description">Plan your own tour and your dream expedition with us</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">24/7 Customer Support</a></h4>
              <p class="description">Ensuring customer satisfaction and safety to perfecting your journey</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">International and Local Tour Guidance</a></h4>
              <p class="description">Professional guides providing best local and international tour facilities</p>
            </div>
          </div>

        </div>

      </div>
    </section>

    <section id="counts" class="counts  section-bg">
      <div class="container">

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="349" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Satisfied Customers</strong> By personal experience via our services</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="215" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Successful Tours</strong> Total successful expeditions througout our startup</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="1501" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Hours Of Support</strong> Customer Satisfaction is our pure motive</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Team Professional</strong> People that work tirelessly 24/7 to make your journey special</p>
            </div>
          </div>

        </div>

      </div>
    </section>

    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>Call To Action</h3>
          <p> Contact our customer support through the toll free contact number provided below. Share any queries or questions for support.</p>
          <a class="cta-btn" href="#">Call To Action</a>
        </div>

      </div>
    </section>

    <section id="destination" class="destination">
      <div class="container">

        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2>Destinations</h2>
          <p>Let our travel experts guide you through the wonders of your imagination, ensuring every moment of your trip is filled with joy and discovery. Get ready to create lifelong memories as you explore this magical destination. Start planning your dream getaway through your dream destination today!</p>
        </div>

        <div class="row" data-aos="fade-in">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="destination-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-local">Local</li>
              <li data-filter=".filter-international">International</li>
            </ul>
          </div>
        </div>

        <div class="row destination-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 destination-item filter-local">
            <div class="destination-wrap">
              <img src="../static/img/Destinations/Northern_Pakistan/NA1.png" class="img-fluid" alt="">
              <div class="destination-links">
                <a href="../static/img/Destinations/Northern_Pakistan/NA1.png" data-gallery="destinationGallery" class="destination-lightbox" title="Local"><i class="bx bx-plus"></i></a>
                <a href="/NorthernAreas" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 destination-item filter-local">
            <div class="destination-wrap">
              <img src="../static/img/Destinations/KPK/KPK.png" class="img-fluid" alt="">
              <div class="destination-links">
                <a href="../static/img/Destinations/KPK/KPK.png" data-gallery="destinationGallery" class="destination-lightbox" title="Local"><i class="bx bx-plus"></i></a>
                <a href="/kpk" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 destination-item filter-international">
            <div class="destination-wrap">
              <img src="../static/img/Destinations/Singapore/Singapore1.png" class="img-fluid" alt="">
              <div class="destination-links">
                <a href="../static/img/Destinations/Singapore/Singapore1.png" data-gallery="destinationGallery" class="destination-lightbox" title="International"><i class="bx bx-plus"></i></a>
                <a href="/Singapore" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 destination-item filter-local">
            <div class="destination-wrap">
              <img src="../static/img/Destinations/Sindh/Sindh.png" class="img-fluid" alt="">
              <div class="destination-links">
                <a href="../static/img/Destinations/Sindh/Sindh.png" data-gallery="destinationGallery" class="destination-lightbox" title="Local"><i class="bx bx-plus"></i></a>
                <a href="/Sindh" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 destination-item filter-international">
            <div class="destination-wrap">
              <img src="../static/img/Destinations/Turkey/Turkey1.png" class="img-fluid" alt="">
              <div class="destination-links">
                <a href="../static/img/Destinations/Turkey/Turkey1.png" data-gallery="destinationGallery" class="destination-lightbox" title="International"><i class="bx bx-plus"></i></a>
                <a href="/Turkey" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 destination-item filter-international">
            <div class="destination-wrap">
              <img src="../static/img/Destinations/UAE/UAE.png" class="img-fluid" alt="">
              <div class="destination-links">
                <a href="../static/img/Destinations/UAE/UAE.png" data-gallery="destinationGallery" class="destination-lightbox" title="International"><i class="bx bx-plus"></i></a>
                <a href="/UAE" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
    
          <div class="col-lg-4 col-md-6 destination-item filter-local">
            <div class="destination-wrap">
              <img src="../static/img/Destinations/Balochistan/Balochistan.png" class="img-fluid" alt="">
              <div class="destination-links">
                <a href="../static/img/Destinations/Balochistan/Balochistan.png" data-gallery="destinationGallery" class="destination-lightbox" title="Local"><i class="bx bx-plus"></i></a>
                <a href="/Balochistan" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
    
          <div class="col-lg-4 col-md-6 destination-item filter-international">
            <div class="destination-wrap">
              <img src="../static/img/Destinations/Thailand/thailand1.png" class="img-fluid" alt="">
              <div class="destination-links">
                <a href="../static/img/Destinations/Thailand/thailand1.png" data-gallery="destinationGallery" class="destination-lightbox" title="International"><i class="bx bx-plus"></i></a>
                <a href="/Thailand" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 destination-item filter-international">
            <div class="destination-wrap">
              <img src="../static/img/Destinations/Malaysia/Malaysia1.png" class="img-fluid" alt="">
              <div class="destination-links">
                <a href="../static/img/Destinations/Malaysia/Malaysia1.png" data-gallery="destinationGallery" class="destination-lightbox" title="International"><i class="bx bx-plus"></i></a>
                <a href="/Malaysia" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 destination-item">
          </div>

          <div class="col-lg-4 col-md-6 destination-item filter-local">
            <div class="destination-wrap">
              <img src="../static/img/Destinations/Punjab/Punjab.png" class="img-fluid" alt="">
              <div class="destination-links">
                <a href="../static/img/Destinations/Punjab/Punjab.png" data-gallery="destinationGallery" class="destination-lightbox" title="Local"><i class="bx bx-plus"></i></a>
                <a href="/Punjab" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 destination-item">
          </div>
        </div>    
      </div>
    </section>

    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2>Testimonials</h2>
          <p>We believe that the true measure of a successful travel website lies in the happiness and satisfaction of our valued customers. We are thrilled to share some heartfelt testimonials from our delighted patrons who have embarked on extraordinary journeys with us. Their kind words serve as a testament to the exceptional experiences we strive to provide.</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  10 / 10 for their services. The 24/7 customer support was very helpful and that made our journey even more memorable and easy.                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="../static/img/testimonials/unclerogers.jpg" class="testimonial-img" alt="">
                <h3>Uncle Rogers</h3>
                <h4>Chairperson: <i>Panwaari</i> &amp; Premium Membership Holder</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Best services aquired by fusion travels, made my trip even more applaudable. Those sightseeings were just like a dream come true. Surely, will be recommending fusion travels to my friends and family. 
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="../static/img/testimonials/RajuRastogi.jpg" class="testimonial-img" alt="">
                <h3>Raju Rastogi</h3>
                <h4>Engineer</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Got the best royal tour i needed for my family. Those hotels were amazing and that recomendation for Shangrila Hotel in Sakardu was spot on. Will be back to them if i need another vacations for sure. Gracious !!! 
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="../static/img/testimonials/TonyStark.jpg" class="testimonial-img" alt="">
                <h3>Tony Stark</h3>
                <h4>Sole Owner: <i>Strak Industries (Pvt.) Ltd.</i> </h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  9/10 on the services i got. Deducting 1 point cuz i never got to know that i had to get my own food for the camping trip. All over had a decent trip with my friends, hope to see you again.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="../static/img/testimonials/FarhanQureshi.jpg" class="testimonial-img" alt="">
                <h3>Farhan Qureshi</h3>
                <h4>Wild Life Photographer</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Took my school on a trip with the services of fusion travels. Their guides were super helpful and friendly, although my kids were super naughty, but held them over professionaly and developed a very friendly environment. 
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="../static/img/testimonials/PhunsukhWangru.jpg" class="testimonial-img" alt="">
                <h3>Phunsukh Wangdu</h3>
                <h4>Scientist &amp; Founder: <i>Wangru Free Schooling</i></h4>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2>Team</h2>
          <p>Welcome to FUSION TRAVELS, where we believe that every journey is an opportunity for extraordinary experiences! Our passionate team of travel enthusiasts is here to make your travel dreams a reality.</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-5">
            <div class="member" data-aos="fade-up">
              <div class="pic"><img src="../static/img/team/team-1.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Muhammad Ahsan Bin Amir</h4>
                <span>Web Developer</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Greetings from Fusion Travels! We are thrilled to connect with you and present our extraordinary travel services tailored to create unforgettable experiences around the world. Whether you're seeking breathtaking natural wonders, cultural immersion, or thrilling adventures, we are here to turn your travel dreams into reality.</p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Our Address</h3>
              <p>DG-78, Off Khayaban-e-Tufail, Phase 7 (Extension), DHA, Karachi, Pakistan</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p>contact@fusiontravels.com</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p>+92 123 4567890</p>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-lg-6 ">
            <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.890721208377!2d67.0389159153804!3d24.892178548078438!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3eb3311152000061%3A0x71da8f1d2b5eaa98!2sDHA%20Suffa%20University!5e0!3m2!1sen!2s!4v1620518302849!5m2!1sen!2s" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
          </div>

          <div class="col-lg-6">
            <form action="/" method="POST" role="form" class="contact-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="cname" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="text" class="form-control" name="ccontact" id="email" placeholder="Your Contact Number" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="csubject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="cmessage" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">  
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>Fusion Travels</h3>
              <p class="pb-3"><em>Making your tour journey special and providing the best guidance needed.</em></p>
              <p>
                DG-78, Off Khayaban-e-Tufail, Phase 7 (Extension) <br>
                DHA, Karachi, Pakistan<br><br>
                <strong>Phone:</strong> +92 123 4567890<br>
                <strong>Email:</strong> info@fusiontravels.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="www.twitter.com" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="www.facebook.com" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="www.instagram.com" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="www.gmail.com" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="www.linkedin.com" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="../static/Terms and Conditions.pdf" target="_blank">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="../static/Privacy Policy.pdf" target="_blank">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/login">Local Tour Plans</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/login">International Tour Plans</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/login">Personal Budget and Expenditure Management System</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Add your email to receive our latest offers and information.</p>
            <form id="newsletterForm" action="" method="post">
              <input type="email" name="email">
              <input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Fusionteks</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="#">Fusiontek</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/vendor/aos/aos.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/js/main.js"></script>

</body>

</html>