<!doctype html>
<html lang="en">
  <head>
  	<title>Fusion Travels - Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="../static/img/favicon.png" rel="icon">
	<link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="../static/css/style-Login.css">

	</head>
	<body class="img fullheight" style="background-image: url(../static/img/bg-login.jpg);">
		<header id="header" class="fixed-top header-transparent">
			<div class="container d-flex align-items-center inline-blockS justify-content-between position-relative">

			  <nav id="navbar" class="navbar">
				<ul>
				  <li><a class="nav-link scrollto active" href="/#hero">Home</a></li>
				  <li><a class="nav-link scrollto" href="/#about">About Us</a></li>
				  <li><a class="nav-link scrollto" href="/#services">Services</a></li>
				  <li><a class="nav-link scrollto" href="/#destination">Destinations</a></li>
				  <li><a class="nav-link scrollto" href="/#team">Team</a></li>
				  <li class="dropdown"><a href="#"><span>Pakistan Tour</span> <i class="bi bi-chevron-down"></i></a>
					<ul>
					  <li class="dropdown"><a href="/NorthernAreas"><span>Northern Areas</span> <i class="bi bi-chevron-right"></i></a>
						<ul>
						  <li><a href="/NorthernAreas#ajk">Azad Jammu & Kashmir</a></li>
						  <li><a href="/NorthernAreas#gbs">Gilgit - Baltistan - Skardu</a></li>
						  <li><a href="/NorthernAreas#swat">Swat Valley</a></li>
						  <li><a href="/NorthernAreas#hunza">Hunza</a></li>
						  <li><a href="/NorthernAreas#chitral">Chitral Valley</a></li>
						</ul>
					  </li>
					  <li><a href="/kpk">Khyber Pakhtunkhwa</a></li>
					  <li><a href="/Balochistan">Balochistan</a></li>
					  <li><a href="/Punjab">Punjab</a></li>
					  <li><a href="/Sindh">Sindh</a></li>
					</ul>
				  </li>
				  <li class="dropdown megamenu"><a href="#"><span>International Tour</span> <i class="bi bi-chevron-down"></i></a>
					<ul>
					  <li>
						<a href="/UAE"><strong>United Arab Emirates</strong></a>
						<a href="/UAE#dubai">Dubai</a>
						<a href="/UAE#abudhabi">Abu Dhabi</a>
						<a href="/UAE#sharjah">Sharjah</a>
					  </li>
					  <li>
						<a href="/Singapore"><strong>Singapore</strong></a>
						<a href="/Singapore#gardensbythebay">Gardens by the Bay</a>
						<a href="/Singapore#sentosa">Sentosa</a>
						<a href="/Singapore#universalstudios">Universal Studios</a>
					  </li>
					  <li>
						<a href="/Malaysia"><strong>Malaysia</strong></a>
						<a href="/Malaysia#kl">Kaula Lumpur</a>
						<a href="/Malaysia#gt">George Town</a>
						<a href="/Malaysia#gh">Genting Highlands</a>
					  </li>
					  <li>
						<a href="/Thailand"><strong>Thailand</strong></a>
						<a href="/Thailand#bangkok">Bangkok</a>
						<a href="/Thailand#phuket">Phuket</a>
						<a href="/Thailand#pattaya">Pattaya</a>
					  </li>
					  <li>
						<a href="/Turkey"><strong>Turkey</strong></a>
						<a href="/Turkey#istanbul">Istanbul</a>
						<a href="/Turkey#ankara">Ankara</a>
						<a href="/Turkey#antalya">Antalya</a>
					  </li>
					</ul>
				  </li>
				  <li><a class="nav-link scrollto" href="/#contact">Contact</a></li>
				  <li><a class="nav-link" href="/login">Log in</a></li>
				</ul>
				<i class="bi bi-list mobile-nav-toggle"></i>
			  </nav>
		
			</div>
		  </header>


	<section class="ftco-section">
		<div class="container" data-aos="fade-up">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h1 class="heading-section">Welcome to Fusion Travels</h1>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      		<h3 class="mb-4 text-center">Have an account?</h3>
		      		<form action="/login" method="post" class="signin-form">
		      			<div class="form-group">
		      				<input type="text" name="username" class="form-control" placeholder="Username" required style="opacity: 0.8;">
		      			</div>
	            		<div class="form-group">
	              			<input id="password-field" name="password" type="password" class="form-control" placeholder="Password" required style="opacity: 0.8;">
	              			<span toggle="#password-field" class="fa fa-fw field-icon toggle-password"></span>
	            		</div>
	            		<div class="form-group">
	            			<button type="submit" value="Log in" class="form-control btn btn-primary submit px-3">Sign In</button>
	            		</div>
	            		<div class="form-group d-md-flex">
	            			<div class="w-50">
		            			<label class="checkbox-wrap checkbox-primary">Remember Me
							  		<input type="checkbox" checked>
									<span class="checkmark"></span>
								</label>
							</div>
							<div class="w-50 text-md-right">
								<a href="#">Forgot Password</a>
							</div>
	            		</div>
	          		</form>
	          		<p class="w-100 text-center">&mdash; Or Sign up Now &mdash;</p>
	          		<div class="social d-flex text-center">
						<a class="form-control" href="/register" style="background-color: transparent; padding-top: 12px;">Register Your Account</a>
	          		</div>
		    	</div>
			</div>
		</div>
	</section>
	</body>
</html>

