<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Your Account</title>
    <link href="../static/img/favicon.png" rel="icon">
    <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="../static/vendor/aos/aos.css" rel="stylesheet">
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body id="bg" style="background-color: black;">
    <header id="header" class="fixed-top header-transparent" style="background-color: black;" >
        <div class="container d-flex align-items-center justify-content-between position-relative">
    
            <div class="logo">
                <h1 class="text-light"><a href="/"><span>Fusion Travel</span></a></h1>
            </div>
    
            <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="/#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="/#about">About Us</a></li>
                <li><a class="nav-link scrollto" href="/#services">Services</a></li>
                <li><a class="nav-link scrollto" href="/#destination">Destinations</a></li>
                <li><a class="nav-link scrollto" href="/#team">Team</a></li>
                <li class="dropdown"><a href="#"><span>Pakistan Tour</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                    <li class="dropdown"><a href="/NorthernAreas"><span>Northern Areas</span> <i class="bi bi-chevron-right"></i></a>
                    <ul>
                        <li><a href="/NorthernAreas#ajk">Azad Jammu & Kashmir</a></li>
                        <li><a href="/NorthernAreas#gbs">Gilgit - Baltistan - Skardu</a></li>
                        <li><a href="/NorthernAreas#swat">Swat Valley</a></li>
                        <li><a href="/NorthernAreas#hunza">Hunza</a></li>
                        <li><a href="/NorthernAreas#chitral">Chitral Valley</a></li>
                    </ul>
                    </li>
                    <li><a href="/kpk">Khyber Pakhtunkhwa</a></li>
                    <li><a href="/Balochistan">Balochistan</a></li>
                    <li><a href="/Punjab">Punjab</a></li>
                    <li><a href="/Sindh">Sindh</a></li>
                </ul>
                </li>
                <li class="dropdown megamenu"><a href="#"><span>International Tour</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                    <li>
                        <a href="/UAE"><strong>United Arab Emirates</strong></a>
                        <a href="/UAE#dubai">Dubai</a>
                        <a href="/UAE#abudhabi">Abu Dhabi</a>
                        <a href="/UAE#sharjah">Sharjah</a>
                    </li>
                    <li>
                        <a href="/Singapore"><strong>Singapore</strong></a>
                        <a href="/Singapore#gardensbythebay">Gardens by the Bay</a>
                        <a href="/Singapore#sentosa">Sentosa</a>
                        <a href="/Singapore#universalstudios">Universal Studios</a>
                    </li>
                    <li>
                        <a href="/Malaysia"><strong>Malaysia</strong></a>
                        <a href="/Malaysia#kl">Kaula Lumpur</a>
                        <a href="/Malaysia#gt">George Town</a>
                        <a href="/Malaysia#gh">Genting Highlands</a>
                    </li>
                    <li>
                        <a href="/Thailand"><strong>Thailand</strong></a>
                        <a href="/Thailand#bangkok">Bangkok</a>
                        <a href="/Thailand#phuket">Phuket</a>
                        <a href="/Thailand#pattaya">Pattaya</a>
                    </li>
                    <li>
                        <a href="/Turkey"><strong>Turkey</strong></a>
                        <a href="/Turkey#istanbul">Istanbul</a>
                        <a href="/Turkey#ankara">Ankara</a>
                        <a href="/Turkey#antalya">Antalya</a>
                    </li>
                </ul>
              </li>
              <li><a class="nav-link scrollto" href="/#contact">Contact</a></li>
              <li><a class="nav-link" href="/login">Log in</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav>
        </div>
    </header>

    <div class="page-content">
		<div class="form-v5-content">
			<form class="form-detail" action="#" method="post">
				<h1>Register Your Account</h1>
				<div class="form-row">
					<label for="full-name"><strong>Full Name</strong></label>
					<input type="text" name="full-name" id="full-name" class="input-text" placeholder="Your Name" required>
					<i class="fas fa-user"></i>
				</div>
				<div class="form-row">
					<label for="your-email"><strong>Username</strong></label>
					<input type="text" name="username" id="your-email" class="input-text" placeholder="Your Username" required>
					<i class="fas fa-envelope"></i>
				</div>
				<div class="form-row">
					<label for="password"><strong>Password</strong></label>
					<input type="password" name="password" id="password" class="input-text" placeholder="Your Password" required>
					<i class="fas fa-lock"></i>
				</div>
				<div class="form-row-last">
					<input type="submit" name="register" class="register" value="Register">
				</div>
			</form>
		</div>
	</div>

    <center>
        <div class="container" style="color: whitesmoke; font-family: 'Courier New', Courier, monospace; background-color: black;">
            <div class="copyright">
                &copy; Copyright <strong><span>Fusionteks</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="#">Fusiontek</a>
            </div>
        </div>
    </center>

</body>
</html>