<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Fusion Travels - Destinations</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/img/favicon.png" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between position-relative">

      <div id="logo" class="logo">
        <!-- <a href="index.html"><img src="../static/img/apple-touch-icon.png" alt="" class="img-fluid"></a> -->
        <h1 class="text-light"><a href="/"><span>Fusion Travels</span></a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="/#about">About Us</a></li>
          <li><a class="nav-link scrollto" href="/#services">Services</a></li>
          <li><a class="nav-link scrollto" href="/#destination">Destinations</a></li>
          <li><a class="nav-link scrollto" href="/#team">Team</a></li>
          <li class="dropdown"><a href="#"><span>Pakistan Tour</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li class="dropdown"><a href="/NorthernAreas"><span>Northern Areas</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="/NorthernAreas#ajk">Azad Jammu & Kashmir</a></li>
                  <li><a href="/NorthernAreas#gbs">Gilgit - Baltistan - Skardu</a></li>
                  <li><a href="/NorthernAreas#swat">Swat Valley</a></li>
                  <li><a href="/NorthernAreas#hunza">Hunza</a></li>
                  <li><a href="/NorthernAreas#chitral">Chitral Valley</a></li>
                </ul>
              </li>
              <li><a href="/kpk">Khyber Pakhtunkhwa</a></li>
              <li><a href="/Balochistan">Balochistan</a></li>
              <li><a href="/Punjab">Punjab</a></li>
              <li><a href="/Sindh">Sindh</a></li>
            </ul>
          </li>
          <li class="dropdown megamenu"><a href="#"><span>International Tour</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li>
                <a href="/UAE"><strong>United Arab Emirates</strong></a>
                <a href="/UAE#dubai">Dubai</a>
                <a href="/UAE#abudhabi">Abu Dhabi</a>
                <a href="/UAE#sharjah">Sharjah</a>
              </li>
              <li>
                <a href="/Singapore"><strong>Singapore</strong></a>
                <a href="/Singapore#gardensbythebay">Gardens By The Bay</a>
                <a href="/Singapore#sentosa">Sentosa</a>
                <a href="/Singapore#universalstudios">Universal Studios</a>
              </li>
              <li>
                <a href="/Malaysia"><strong>Malaysia</strong></a>
                <a href="/Malaysia#kl">Kaula Lumpur</a>
                <a href="/Malaysia#gt">George Town</a>
                <a href="/Malaysia#gh">Genting Highlands</a>
              </li>
              <li>
                <a href="/Thailand"><strong>Thailand</strong></a>
                <a href="#bangkok">Bangkok</a>
                <a href="#phuket">Phuket</a>
                <a href="#pattaya">Pattaya</a>
              </li>
              <li>
                <a href="/Turkey"><strong>Turkey</strong></a>
                <a href="/Turkey#istanbul">Istanbul</a>
                <a href="/Turkey#ankara">Ankara</a>
                <a href="/Turkey#antalya">Antalya</a>
              </li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="/#contact">Contact</a></li>
          <li><a class="nav-link" href="/login">Log in</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Destination Details</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li><a href="/#destination">Destinations</a></li>
            <li>Destinations Details</li>
          </ol>
        </div>

      </div>
    </section>

<!-- ======= Destination Details Section (1) ======= -->
<section id="Thailand-details" class="destination-details">
  <div class="container">

    <div class="row gy-4">

      <div class="col-lg-7">
        <div class="destination-details-slider swiper">
          <div class="swiper-wrapper align-items-center">

            <div class="swiper-slide">
              <img src="../static/img/Destinations/Thailand/thailand1.png" alt="">
            </div>

            <div class="swiper-slide">
              <img src="../static/img/Destinations/Thailand/thailand2.png" alt="">
            </div>

            <div class="swiper-slide">
              <img src="../static/img/Destinations/Thailand/thailand3.png" alt="">
            </div>

          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
      <div class="col-lg-4">
        <center>
          <div class="destination-info">
            <h2><strong>Thailand</strong></h2><hr>
            <ul>
              <li><strong>Religion</strong>: Buddhism</li>
              <li><strong>Currency</strong>: Thai Bhat</li>
              <li><strong>Official Language</strong>: Thai</li>
              <li><strong>Calling Code</strong>: +66 </li>
            </ul>
          </div>
          <div class="destination-description">
            <h2> Breathtaking beauty, rich culture, and warm hospitality await in Thailand </h2>
            <p>
              Thailand, known as the "Land of Smiles," is a vibrant Southeast Asian country with rich cultural heritage, stunning landscapes, delicious cuisine, and warm, friendly people, making it a popular destination for travelers worldwide.
            </p>
          </div>
        </center>
      </div>


    </div>

  </div>
</section><!-- End destination Details Section (1) -->
    
    <h2 class="divider donotcross" contenteditable><strong> City Destinations</strong></h2>

    <!-- ======= Destination Details Section (2) ======= -->
    <section id="bangkok" class="destination-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-7">
            <div class="destination-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="../static/img/Destinations/Thailand/bangkok1.png" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="../static/img/Destinations/Thailand/bangkok2.png" alt="">
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
          <div class="col-lg-4">
            <center>
              <div class="destination-info">
                <h2>Bangkok</h2><hr>
                <ul>
                  <li><strong>Bustling cityscape and vibrant nightlife</strong></li>
                  <li><strong>Ornate temples and cultural landmarks</strong></li>
                  <li><strong>Exquisite street food scene</strong></li>
                  <li><strong>Floating markets and river life</strong></li>
                </ul>
              </div>
              <div class="destination-description">
                <h3>City of Angels</h3>
                <p>
                  Bangkok, the vibrant capital of Thailand, is a bustling metropolis known for its rich cultural heritage, bustling markets, ornate temples, and vibrant street life, creating a captivating fusion of tradition and modernity.
                </p>
              </div>
            </center>
          </div>  
        </div>
      </div>
    </section>

    <!-- ======= Destination Details Section (3) ======= -->
    <section id="phuket" class="destination-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-7">
            <div class="destination-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="../static/img/Destinations/Thailand/phuket1.png" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="../static/img/Destinations/Thailand/phuket2.png" alt="">
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
          <div class="col-lg-4">
            <center>
              <div class="destination-info">
                <h2>Phuket</h2><hr>
                <ul>
                  <li><strong>Beautiful beaches and crystal-clear waters</strong></li>
                  <li><strong>Vibrant nightlife and entertainment</strong></li>
                  <li><strong>Rich cultural heritage and temples</strong></li>
                  <li><strong>Exciting water sports activities</strong></li>
                </ul>
              </div>
              <div class="destination-description">
                <h3>Pearl of the Andaman</h3>
                <p>
                  Phuket, a popular island destination in Thailand, boasts stunning beaches, crystal-clear waters, vibrant nightlife, and a rich cultural heritage. It offers a perfect blend of relaxation, adventure, and entertainment for visitors from around the world.
                </p>
              </div>
            </center>
          </div>
        </div>
      </div>
    </section>

        <!-- ======= Destination Details Section (3) ======= -->
        <section id="pattaya" class="destination-details">
          <div class="container">
    
            <div class="row gy-4">
    
              <div class="col-lg-7">
                <div class="destination-details-slider swiper">
                  <div class="swiper-wrapper align-items-center">
    
                    <div class="swiper-slide">
                      <img src="../static/img/Destinations/Thailand/pattaya1.png" alt="">
                    </div>
    
                    <div class="swiper-slide">
                      <img src="../static/img/Destinations/Thailand/pattaya2.png" alt="">
                    </div>
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>
              <div class="col-lg-4">
                <center>
                  <div class="destination-info">
                    <h2>Pattaya</h2><hr>
                    <ul>
                      <li><strong>Beach resort city</strong></li>
                      <li><strong>Nightlife and entertainment hub</strong></li>
                      <li><strong>Vibrant street markets</strong></li>
                      <li><strong>Stunning coastal views</strong></li>
                    </ul>
                  </div>
                  <div class="destination-description">
                    <h3>Sin City</h3>
                    <p>
                      Pattaya is a vibrant coastal city in Thailand known for its bustling nightlife, beautiful beaches, and entertainment options. It attracts tourists with its lively atmosphere, water sports, shopping, and a wide range of dining experiences.
                    </p>
                  </div>
                </center>
              </div>
            </div>
          </div>
        </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>Fusion Travels</h3>
              <p class="pb-3"><em>Making your tour journey special and providing the best guidance needed.</em></p>
              <p>
                DG-78, Off Khayaban-e-Tufail, Phase 7 (Extension) <br>
                DHA, Karachi, Pakistan<br><br>
                <strong>Phone:</strong> +92 123 4567890<br>
                <strong>Email:</strong> info@fusiontravels.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="www.twitter.com" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="www.facebook.com" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="www.instagram.com" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="www.gmail.com" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="www.linkedin.com" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/#services">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="../static/Terms and Conditions.pdf" target="_blank">Terms of Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="../static/Privacy Policy.pdf" target="_blank">Privacy Policy</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Local Tour Plans</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">International Tour Plans</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Customized Tour Plans</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Personal Budget and Expenditure Management System</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Mini Social Media Platform</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Add up your email to receive our latest offers and information.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Fusionteks</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="#">Fusionteks</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/vendor/aos/aos.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/js/main.js"></script>

</body>

</html>